<%- include('./partials/navbar')%>
<div class="container-fluid">
  <h2 class="text-center fw-bold py-3">Welcome to Task Manager</h2>
  <div class="d-flex justify-content-around mt-5">
    <a href="/users/login" class="btn btn-primary">login</a>
    <a href="/users/register" class="btn btn-primary">sign-up</a>
  </div>
</div>
